<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">MatrioshTS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <button (click)="Ev_Mostrar()" type="button" class="btn btn-outline-dark">Mostrar</button>
    <button (click)="Ev_Regresar()" type="button" class="btn btn-outline-dark">Regresar</button>
</nav>
<h3 class="text-center" > Simbolos</h3>
<table  class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Modo</th>
        <th scope="col">Id</th>
        <th scope="col">Tipo</th>
        <th scope="col">Valor</th>
        <th scope="col">Entorno</th>
      </tr>
    </thead>
</table>
  